@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Frank+Ruhl+Libre|Montserrat|Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
}

.services {
  text-align: center;
}

.service.container {
  display: flex;
}

.more {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navbar-toggle {
    display: block !important;
  }
}
.nav {
  overflow-x: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 1111;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0.8;
  width: 0;
  transition: 0.5s;
  padding-top: 140px;
}

.closesidebar {
  position: absolute;
  top: 27px;
  padding: 22px;
  font-size: 38px;
  right: 32px;
  background: none;
  color: #f1f1f1;
  border: none;
}

.navbar-toggle {
  position: absolute;
  right: 25px;
  top: 0;
}

/*.nav .nav-item a {
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
  transition: 2s;
}*/
.navbar-default .navbar-toggle {
  border-color: white;
}

.navbar-default {
  background-color: white;
  border-color: white;
}

.navbar-toggle .icon-bar {
  height: 6px;
  width: 39px;
}

.navbar-default .navbar-brand {
  font-size: 76px;
  font-family: "Abril Fatface", cursive;
  color: #e27058;
  text-decoration: none;
}
.navbar-default .navbar-brand:hover {
  color: #e27058;
}

.navbar {
  left: 0;
  position: fixed;
  top: 0;
  max-width: 100%;
  margin: auto;
  padding: 30px 130px 0px 130px;
  z-index: 500;
  transition: 0.5s;
  right: 0;
  width: 100%;
}
.navbar a.navbar-brand {
  transition: 0.2s;
}

.main-container {
  margin-top: 120px;
}

@media only screen and (min-width: 1200px) {
  .navbar.container {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  img {
    width: 100%;
  }
}
.first p {
  font-size: 31px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}

.second p {
  font-size: 36px;
  color: darkgrey;
  font-family: "Frank Ruhl Libre", serif;
}

.first.rule {
  margin-top: 21px;
  border-top: 1.5px solid #e27058;
  width: 42%;
}

.second.rule {
  border-top: 1.5px solid #e27058;
  width: 39%;
  margin-left: 82px;
}

.third {
  font-size: 20px;
  font-family: "Frank Ruhl Libre", serif;
}
.third p strong {
  font-weight: 100;
}

.contact {
  text-align: center;
  margin-top: 51px;
  margin-bottom: 53px;
}

.contact .btn {
  border: 3px solid #578e9b;
  padding: 15px 30px 15px 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #578e9b;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 21px;
  border-radius: 0px;
}
.contact .btn:hover {
  background-color: #578e9b;
  color: white;
}

.logo {
  display: none;
}

.fas {
  color: #d7d6d5;
  margin-left: 8px;
  margin-right: 8px;
}

@media only screen and (max-width: 600px) {
  .service.container {
    display: block;
  }
}
.box h3 {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.box p {
  font-family: "Open Sans", sans-serif;
}

.separator {
  color: #e27058;
  font-size: 52px;
  padding: 5px 67px 0px 69px;
  font-family: "Frank Ruhl Libre", serif;
}

.box .rule {
  border: 2px solid #e27058;
  width: 86%;
  height: 0px;
  margin-left: 29px;
}

.gizra-logo {
  color: #e27058;
  font-family: "Abril Fatface", cursive;
  font-weight: 50;
  font-size: 38px;
}

#block-projects {
  text-align: center;
}
#block-projects .x {
  position: relative;
}
#block-projects h3 {
  position: absolute;
  top: 299px;
  z-index: 11111;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

.authorpic img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.authorinfo {
  display: flex;
}
.authorinfo .datetime span {
  font-family: "Montserrat", sans-serif;
}
.authorinfo .datetime span a {
  color: black;
  font-weight: bold;
}
.authorinfo .datetime .time {
  font-weight: bold;
}
.authorinfo .datetime .time span {
  font-family: "Montserrat", sans-serif;
}

.datetime {
  width: 100%;
  margin-top: 9px;
  margin-left: 10px;
}

.authorinfo .datetime .time {
  float: right;
}

@media only screen and (max-width: 600px) {
  .field--name-user-picture img {
    width: 40px;
    height: 40px;
  }

  .author .authorinfo {
    display: flex;
  }
  .author .authorinfo .datetime span a {
    color: black;
    font-weight: bold;
  }
  .author .authorinfo .datetime .time {
    font-weight: bold;
  }
  .author .datetime {
    width: 100%;
    margin-top: 9px;
    margin-left: 10px;
  }
  .author .authorinfo .datetime .time {
    float: right;
  }
}
.links .node-readmore a {
  font-size: 20px;
  font-family: "Frank Ruhl Libre", serif;
}
.links .node-readmore a:hover {
  color: #23527c;
  text-decoration: none;
}
.links .comment-add {
  display: none;
}

.test-block {
  padding: 17px;
}
.test-block .fas {
  color: #d7d6d5;
  font-size: 26px;
}
.test-block .body div p {
  font-family: "Frank Ruhl Libre", serif;
}
.test-block .body div p a:hover {
  color: #23527c;
  text-decoration: none;
}

.ourblogs h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 33px;
}

.more-link {
  text-align: center;
  text-align: center;
  margin-top: 75px;
  display: inline-block;
}
.more-link a {
  border: 3px solid #578e9b;
  padding: 17px 30px 17px 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #578e9b;
  text-decoration: none;
  font-size: larger;
  transition: 0.5s;
}
.more-link a:hover {
  background-color: #578e9b;
  color: white;
}

.footer.strong {
  font-weight: bold;
}

.post-info img {
  border-radius: 50%;
  width: 95px;
  margin-left: 38px;
}
.post-info .author {
  margin-left: 34px;
}
.post-info .author .authorname {
  font-size: 32px;
}
.post-info .author .authorname a {
  color: black;
}
.post-info .author .dos {
  margin-top: 38px;
  font-weight: bold;
  font-size: 19px;
}
.post-info .first-rule {
  border-top: 2px solid #e27058;
  width: 40%;
  margin-top: 38px;
}
.post-info .second-rule {
  border-top: 2.5px solid #e27058;
  width: 42%;
  margin-top: 35px;
  margin-left: 47px;
}

@media only screen and (min-width: 768px) {
  img {
    width: 100%;
  }
}
.footer {
  margin-top: 32px;
}

.morework section.block:first-child {
  width: 48%;
  float: left;
}
.morework section.block:last-child {
  width: 48%;
  float: right;
}

.work {
  position: relative;
}
.work section .block-title {
  position: absolute;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 19px;
  /*top:75%;*/
  bottom: 5%;
  font-family: "Montserrat", sans-serif;
}

.morework section {
  position: relative;
}
.morework section .block-title {
  position: absolute;
  color: aliceblue;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 19px;
  /*top:65%;*/
  bottom: 10%;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 600px) {
  .test-block {
    padding: 0;
  }
  .test-block .image {
    padding: 0;
  }

  .morework section.block:first-child {
    width: 100%;
  }
  .morework section.block:last-child {
    width: 100%;
  }
  .morework section.block .block-title {
    font-size: 1em;
  }
}
.btn:hover {
  background-color: blue;
}

header.small {
  border-bottom: 1px solid #d7d6d5;
  box-shadow: 1px 1px 1px #f5f5f5;
  padding-top: 0.3em;
  padding-bottom: 22px;
  font-size: 10px;
}
header.small a.navbar-brand {
  font-size: 60px;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  header.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
    z-index: 501;
    transition: 0.5s;
  }
  header.small {
    border-bottom: 1px solid #d7d6d5;
    box-shadow: 1px 1px 1px #f5f5f5;
    padding-top: 10px;
  }
  header.small a.navbar-brand {
    font-size: 52px;
  }
  header .navbar-header button {
    position: absolute;
    right: 0;
    top: 0;
  }

  .first p {
    font-size: 31px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }

  .second p {
    font-size: 24px;
    color: darkgrey;
  }
}
.gizra-way {
  margin-top: 86px;
  max-width: 1112px;
  padding-left: 0;
  padding-right: 0;
}
.gizra-way h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600px;
}
.gizra-way .description {
  font-family: "Frank Ruhl Libre", serif;
  text-align: center;
  font-size: 17px;
  margin-top: 66px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: white;
  color: black;
}

footer {
  margin-top: 65px;
}

.flex-container {
  font-size: 30px;
  text-align: right;
}

/*section{
  &.block-block-content{
    max-height: 600px;
  }
  img{
    height: 100%;
    width: 100%;

  }
}*/
.morework .block {
  max-height: 600px;
}
.morework .block img {
  height: 100%;
  width: 100%;
}

.footer1 {
  line-height: 0.8;
}
.footer1 section p {
  font-family: "Open Sans", sans-serif;
}
.footer1 section p a {
  text-decoration: underline;
}

.footer2 {
  line-height: 0.8;
}
.footer2 section p {
  font-family: "Open Sans", sans-serif;
}
.footer2 section p a {
  text-decoration: underline;
}

.footer3 section {
  text-align: right;
  line-height: 4;
}
.footer3 section p {
  font-family: "Open Sans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .work section .block-title {
    font-family: "Montserrat", sans-serif;
  }
  .work section h2 {
    z-index: 99;
  }
  .work section .workpic p {
    position: relative;
    overflow: hidden;
  }
  .work section .workpic p img {
    transition: 3.2s;
    max-width: 100%;
    width: 100%;
    transform: scale(1);
  }
  .work section .workpic p img:hover {
    transform: scale(1.1);
  }

  .morework {
    margin-top: 42px;
  }
  .morework div section h2 {
    z-index: 99;
  }
  .morework div section .block-title {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
  }
  .morework div section .workpic p {
    position: relative;
    overflow: hidden;
  }
  .morework div section .workpic p img {
    transition: 3.2s;
    max-width: 100%;
    width: 100%;
    transform: scale(1);
  }
  .morework div section .workpic p img:hover {
    transform: scale(1.1);
  }
}
.work h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 47px;
}

.field--name-user-picture img {
  width: 50px;
  height: 50px;
}

@media (min-width: 1200px) {
  .gizra-container {
    width: 960px;
  }

  .everybody-says .text-grid {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 92px;
    margin-top: 60px;
  }
  .everybody-says .text-grid .first p {
    font-size: 55px;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
  .everybody-says .text-grid .second {
    margin-top: 45px;
  }

  .service {
    margin-top: 38px;
  }
  .service .strategy {
    width: 30%;
  }
  .service .strategy p {
    font-size: 19px;
  }
  .service .strategy .separator {
    width: 5%;
  }
  .service .design {
    width: 30%;
  }
  .service .design p {
    font-size: 19px;
  }
  .service .design .separator {
    width: 5%;
  }
  .service .development {
    width: 30%;
  }
  .service .development p {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .everybody-says .text-grid {
    max-width: 960px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 32px;
  }
  .everybody-says .text-grid .second {
    margin-top: 45px;
  }

  .work section .block-title {
    /*top:35%;*/
    bottom: -10%;
    font-family: "Montserrat", sans-serif;
  }

  .workpic img {
    margin-top: 22px;
  }
}
.nav .nav-item a {
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.2s;
  text-align: center;
}
.nav .nav-item a:hover {
  color: #f1f1f1;
  text-decoration: none;
}
.nav li a:focus {
  background: none;
}
.nav li a:hover {
  background-color: none !important;
}

.nav .nav-item a:hover {
  background: none !important;
}

.more_projects {
  text-align: center;
  margin-top: 40px;
}
.more_projects a {
  border: 3px solid #578e9b;
  padding: 15px 25px 15px 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #578e9b;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 19px;
}
.more_projects a:hover {
  background-color: #578e9b;
  color: white;
}

.gizra-blogview {
  margin-top: 108px;
}

.service .box h3 {
  border-bottom: 2px solid #e27058;
  margin-bottom: 7px;
  padding-bottom: 7px;
}

@media (max-width: 768px) {
  .more-link {
    text-align: center;
    margin-top: 75px;
    display: inline-block;
    width: 100%;
  }

  .more_projects a {
    border: 3px solid #578e9b;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    color: #578e9b;
    text-decoration: none;
    transition: all 0.5s ease;
    display: inline-block;
    margin-top: 25px;
    padding: 1.5rem 3rem;
    font-size: 18px;
  }

  #mobile_authorinfo2 {
    display: none;
  }

  .authorinfo .authorpic img {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
  }
}
@media (min-width: 1200px) {
  #mobile_authorinfo1 {
    display: none;
  }
}
.page-header {
  display: none;
}

.title h3 a span {
  font-family: "Montserrat", sans-serif;
}
.title h3 a:hover {
  color: #244b80;
  text-decoration: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
